<div class="content p-4">

  <button routerLink="/home" mat-button color="primary">
    <mat-icon>
      arrow_back
    </mat-icon>
    Powrót do strony głównej
  </button>

  <mat-stepper class="mt-4" linear>

    <mat-step [stepControl]="basicInfo" label="Dane podstawowe" >
      <app-basic-info-step [formGroup]="basicInfo"></app-basic-info-step>
      <div class="mt-4">
        <button matButton matStepperNext>Dalej</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="interests" label="Zainteresowania">
      <app-interests-step
        [interestsControl]="interests"
        (addInterest)="onAddInterest($event)"
        (removeInterest)="onRemoveInterest($event)"
      ></app-interests-step>

      <div class="mt-4">
        <button matButton matStepperPrevious>Powrót</button>
        <button matButton matStepperNext>Dalej</button>
      </div>
    </mat-step>

    <mat-step label="Podsumowanie">

      <app-summary-step [basicInfo]="basicInfo" [interests]="interests"></app-summary-step>

      <div class="mt-4">
        <button matButton matStepperPrevious>Powrót</button>
        <button mat-flat-button (click)="save()">Zapisz</button>
      </div>

    </mat-step>

  </mat-stepper>
</div>
